body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: aliceblue;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 20px;
    color: #007bff;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #bfefff;
}
